{
    "dev": {
        "ENV": "DEV",
        "PORT": "3000",
        "MONGODB_URI": "mongodb://mongodb:27017/switcher-api",
        "RESOURCE_SECRECT": "admin",
        "JWT_SECRET": "[JWT_SECRET]",
        "JWT_ADMIN_TOKEN_RENEW_INTERVAL": "10m",
        "MAX_STRATEGY_OPERATION": 100,
        "RELAY_BYPASS_HTTPS": true,
        "RELAY_BYPASS_VERIFICATION": true,
        "PERMISSION_CACHE_ACTIVATED": true,
        "HISTORY_ACTIVATED": true,
        "METRICS_ACTIVATED": true,
        "METRICS_MAX_PAGE": 50,
        "MAX_REQUEST_PER_MINUTE": 10000,
        "GIT_OAUTH_CLIENT_ID": "[GIT_OAUTH_CLIENT_ID]",
        "GIT_OAUTH_SECRET": "[OAUTH_SECRET]",
        "BITBUCKET_OAUTH_CLIENT_ID": "[BITBUCKET_OAUTH_CLIENT_ID]",
        "BITBUCKET_OAUTH_SECRET": "[BITBUCKET_OAUTH_SECRET]",
        "GOOGLE_RECAPTCHA_SECRET": "[GOOGLE_RECAPTCHA_SECRET]",
        "GOOGLE_SKIP_AUTH": true,

        "SAML_ENTRY_POINT": "https://<your-idp>/sso/saml",
        "SAML_ISSUER": "switcher-api",
        "SAML_CALLBACK_ENDPOINT_URL": "http://localhost:3000",
        "SAML_REDIRECT_ENDPOINT_URL": "http://localhost:4200",
        "SAML_CERT": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K",
        "SAML_PRIVATE_KEY": "",
        "SAML_IDENTIFIER_FORMAT": "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress",
        "SAML_ACCEPTED_CLOCK_SKEW_MS": 10000,
        "SESSION_SECRET": "SESSION_SECRET",

        "SWITCHER_API_LOGGER": true,
        "SWITCHER_API_LOGGER_LEVEL": "debug",
        "SWITCHER_API_ENABLE": false,
        "SWITCHER_API_THROTTLE": 5000,
        "SWITCHER_API_URL": "http://localhost:3000",
        "SWITCHER_API_KEY": "[SWITCHER_API_KEY]",
        "SWITCHER_API_DOMAIN": "Switcher API",
        "SWITCHER_API_ENVIRONMENT": "default",

        "SWITCHER_SLACK_JWT_SECRET": "[SWITCHER_SLACK_JWT_SECRET]",
        "SWITCHER_GITOPS_JWT_SECRET": "[SWITCHER_GITOPS_JWT_SECRET]",
        "SWITCHER_GITOPS_URL": "http://localhost:8000"
    },
    "test": {
        "NODE_OPTIONS": "--experimental-vm-modules",
        "PORT": "3000",
        "MONGODB_URI": "mongodb://mongodb:27017/switcher-api-test",
        "JWT_SECRET": "[JWT_SECRET]",
        "JWT_ADMIN_TOKEN_RENEW_INTERVAL": "5m",
        "MAX_STRATEGY_OPERATION": 100,
        "RELAY_BYPASS_HTTPS": true,
        "RELAY_BYPASS_VERIFICATION": true,
        "PERMISSION_CACHE_ACTIVATED": true,
        "HISTORY_ACTIVATED": true,
        "METRICS_ACTIVATED": true,
        "METRICS_MAX_PAGE": 50,
        "GOOGLE_RECAPTCHA_SECRET": "[GOOGLE_RECAPTCHA_SECRET]",
        "GOOGLE_SKIP_AUTH": false,

        "SAML_ENTRY_POINT": "http://localhost:3000/sso/saml",
        "SAML_CALLBACK_ENDPOINT_URL": "http://localhost:3000",
        "SAML_REDIRECT_ENDPOINT_URL": "http://localhost:4200",
        "SAML_CERT": "SAML_CERT",
        "SESSION_SECRET": "SESSION_SECRET",

        "SWITCHER_API_LOGGER": false,
        "SWITCHER_API_LOGGER_LEVEL": "debug",
        "SWITCHER_API_ENABLE": false,
        "SWITCHER_API_THROTTLE": 5000,
        "SWITCHER_SLACK_JWT_SECRET": "[SWITCHER_SLACK_JWT_SECRET]",
        "SWITCHER_GITOPS_JWT_SECRET": "[SWITCHER_GITOPS_JWT_SECRET]",
        "SWITCHER_GITOPS_URL": "http://localhost:8000"
    }
}