{
    "dev": {
        "ENV": "DEV",
        "PORT": "3000",
        "MONGODB_URI": "mongodb://mongodb:27017/switcher-api",
        "RESOURCE_SECRECT": "admin",
        "JWT_SECRET": "[JWT_SECRET]",
        "JWT_ADMIN_TOKEN_RENEW_INTERVAL": "10m",
        "MAX_STRATEGY_OPERATION": 100,
        "RELAY_BYPASS_HTTPS": true,
        "RELAY_BYPASS_VERIFICATION": true,
        "PERMISSION_CACHE_ACTIVATED": true,
        "HISTORY_ACTIVATED": true,
        "METRICS_ACTIVATED": true,
        "METRICS_MAX_PAGE": 50,
        "MAX_REQUEST_PER_MINUTE": 10000,
        "GIT_OAUTH_CLIENT_ID": "[GIT_OAUTH_CLIENT_ID]",
        "GIT_OAUTH_SECRET": "[OAUTH_SECRET]",
        "BITBUCKET_OAUTH_CLIENT_ID": "[BITBUCKET_OAUTH_CLIENT_ID]",
        "BITBUCKET_OAUTH_SECRET": "[BITBUCKET_OAUTH_SECRET]",
        "GOOGLE_RECAPTCHA_SECRET": "[GOOGLE_RECAPTCHA_SECRET]",
        "GOOGLE_SKIP_AUTH": true,

        "SWITCHER_API_LOGGER": true,
        "SWITCHER_API_LOGGER_LEVEL": "debug",
        "SWITCHER_API_ENABLE": false,
        "SWITCHER_API_THROTTLE": 5000,
        "SWITCHER_API_URL": "http://localhost:3000",
        "SWITCHER_API_KEY": "[SWITCHER_API_KEY]",
        "SWITCHER_API_DOMAIN": "Switcher API",
        "SWITCHER_API_ENVIRONMENT": "default",

        "SWITCHER_SLACK_JWT_SECRET": "[SWITCHER_SLACK_JWT_SECRET]",
        "SWITCHER_GITOPS_JWT_SECRET": "[SWITCHER_GITOPS_JWT_SECRET]",
        "SWITCHER_GITOPS_URL": "http://localhost:8000"
    },
    "test": {
        "NODE_OPTIONS": "--experimental-vm-modules",
        "PORT": "3000",
        "MONGODB_URI": "mongodb://mongodb:27017/switcher-api-test",
        "JWT_SECRET": "[JWT_SECRET]",
        "JWT_ADMIN_TOKEN_RENEW_INTERVAL": "5m",
        "MAX_STRATEGY_OPERATION": 100,
        "RELAY_BYPASS_HTTPS": true,
        "RELAY_BYPASS_VERIFICATION": true,
        "PERMISSION_CACHE_ACTIVATED": true,
        "HISTORY_ACTIVATED": true,
        "METRICS_ACTIVATED": true,
        "METRICS_MAX_PAGE": 50,
        "GOOGLE_RECAPTCHA_SECRET": "[GOOGLE_RECAPTCHA_SECRET]",
        "GOOGLE_SKIP_AUTH": false,

        "SWITCHER_API_LOGGER": false,
        "SWITCHER_API_LOGGER_LEVEL": "debug",
        "SWITCHER_API_ENABLE": false,
        "SWITCHER_API_THROTTLE": 5000,
        "SWITCHER_SLACK_JWT_SECRET": "[SWITCHER_SLACK_JWT_SECRET]",
        "SWITCHER_GITOPS_JWT_SECRET": "[SWITCHER_GITOPS_JWT_SECRET]",
        "SWITCHER_GITOPS_URL": "http://localhost:8000"
    }
}