{
    "test": {
        "NODE_OPTIONS": "--experimental-vm-modules",
        "ENV": "TEST",
        "PORT": "3000",
        "SSL_CERT": "",
        "SSL_KEY": "",
        "SENDGRID_API_KEY": "SG.MOCK_API_TOKEN",
        "SENDGRID_MAIL_FROM": "MOCK_MAIL_FROM",
        "SENDGRID_CONFIRMATION_TEMPLATE": "SG.CONFIRMATION_TEMPLATE",
        "SENDGRID_RECOVERY_TEMPLATE": "SG.RECOVERY_TEMPLATE",
        "MONGODB_URI": "MOCK_MONGODB_URI",
        "RESOURCE_SECRET": "[MOCK_RESOURCE_SECRET]",
        "JWT_SECRET": "MOCK_JWT_SECRET",
        "JWT_ADMIN_TOKEN_RENEW_INTERVAL": "5m",
        "MAX_STRATEGY_OPERATION": 100,
        "RELAY_BYPASS_HTTPS": true,
        "RELAY_BYPASS_VERIFICATION": true,
        "PERMISSION_CACHE_ACTIVATED": true,
        "HISTORY_ACTIVATED": true,
        "METRICS_MAX_PAGE": 50,
        "MAX_REQUEST_PER_MINUTE": 1000,
        "GIT_OAUTH_CLIENT_ID": "MOCK_GIT_OAUTH_CLIENT_ID",
        "GIT_OAUTH_SECRET": "MOCK_GIT_OAUTH_SECRET",
        "BITBUCKET_OAUTH_CLIENT_ID": "MOCK_BITBUCKET_OAUTH_CLIENT_ID",
        "BITBUCKET_OAUTH_SECRET": "MOCK_BITBUCKET_OAUTH_SECRET",
        "GOOGLE_RECAPTCHA_SECRET": "MOCK_GOOGLE_RECAPTCHA_SECRET",
        "GOOGLE_SKIP_AUTH": true,

        "SWITCHER_API_LOGGER": false,
        "SWITCHER_API_LOGGER_LEVEL": "debug",
        
        "SWITCHER_API_ENABLE": false,
        "SWITCHER_API_THROTTLE": 5000,
        "SWITCHER_API_URL": "http://localhost:3000",
        "SWITCHER_API_KEY": "MOCK_SWITCHER_API_KEY",
        "SWITCHER_API_DOMAIN": "MOCK_SWITCHER_API_DOMAIN",
        "SWITCHER_API_ENVIRONMENT": "default",

        "SWITCHER_SLACK_JWT_SECRET": "MOCK_SWITCHER_SLACK_JWT_SECRET",
        "SWITCHER_GITOPS_JWT_SECRET": "MOCK_SWITCHER_GITOPS_JWT_SECRET"
    }
}