language: node_js
node_js:
  - "12"

addons:
  sonarcloud:
    organization: "switcherapi"
    token: ${SONAR_TOKEN}

jobs:
  include:
    - stage: compile
      script:
        - npm install
    - stage: test
      script:
        - npm test
        - sonar-scanner
    - stage: deploy to staging
      if: branch = master
      script:
        - echo "Deploying to Staging"
      deploy:
        provider: heroku
        app: switcher-api-staging
        api_key: ${HEROKU_KEY}

stages:
  - compile
  - test
  - deploy to staging

after_success: 
  - test $TRAVIS_BRANCH = "master" &&
    npm run coveralls

services:
  - mongodb