language: node_js
node_js:
  - "10"

addons:
  sonarcloud:
    organization: "petruki"
    token: ${SONAR_TOKEN}

jobs:
  include:
    - stage: compile
      script:
        - npm install
    - stage: test
      script:
        - npm test
        - sonar-scanner
    - stage: deploy to staging
      script:
        - echo "Deploying to Staging"
      deploy:
        skip_cleanup: true
        provider: heroku
        app: switcher-api-staging
        api_key: ${HEROKU_KEY}

stages:
  - compile
  - test
  - deploy to staging

# after_success: npm run coveralls

services:
  - mongodb